{% load crispy_forms_tags %}
{% load staticfiles %}

<style type="text/css">
  .delete-row {
    margin-left: 20px;
    padding-right: 70px;
  }
</style>

{{ formset.management_form|crispy }}



    <table class="table-sm" style="margin-left: 5px;>

{{ formset.management_form|crispy }}


    
        {% for form in formset.forms %}
                <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                    {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field|as_crispy_field }}
                    </td>
                    {% endfor %}
                </tr>
        {% endfor %}

    </table>
    <br>
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'vendor/django-dynamic-formset/jquery.formset.js' %}"></script>

<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'add another',
        deleteText: 'remove',
        prefix: '{{ formset.prefix }}',
    });
</script>