{% extends "invoices/local_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specificcss %}
<style type="text/css">
    .table-condensed, .table-sm, .dataTables_length, .dataTables_filter, .dataTables_paginate, .dataTables_info {
      font-size: 12px;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(100, 200, 255);
}
</style>
{% endblock specificcss %}

{% block extrajs %}
<script type="text/javascript">

  // var csrftoken = Cookies.get('csrftoken');
  $(document).ready( function () {
  
    var grandMasterTable = $('#grand_table_master').DataTable(
    {
        "serverSide": true,
        "ajax": "{{grandMasterTableURL}}" + "?format=datatables",
        "columns": [
            {"data": "name"},
            {"data": "started_date"},
            {"data": "department.name", "name": "department.name"},
            ],
        columnDefs: [
            {targets:1, render:function(data){
              return moment(data).format('DD/MM/YY');
            }},
            ],
        select: {
            style: 'single'
          },
        // dom: 'lfBrtip',
        // buttons: [
        //             {extend: "create", editor: editorMaster, text: '<i class="fas fa-plus-square"></i>'},
        //             {extend: "edit", editor: editorMaster, text: '<i class="fas fa-edit"></i>'},
        //             {extend: "remove", editor: editorMaster, text: '<i class="fas fa-trash-alt"></i>'},
        //             {extend: 'excelHtml5', title: 'Data export', text: 'xls'},
        //             {extend: 'pdfHtml5',title: 'Data export', text: 'pdf'},
        //         ],
        "order": [[ 1, "desc" ]],
        // drawCallback: function () {
        //     var api = this.api();
        //     // console.log(api.column( 5, {page:'current'} ).data().sum());
        //     $( api.column(5).footer() ).html("∑: <b>"+
        //       api.column( 5, {page:'current'} ).data().sum() + 
        //       "</b>"
        //     );
        // },
    }
    );

    var editorMaster = new $.fn.dataTable.Editor( {
          ajax: {url: "{{masterTableURL}}" + "editor/?format=datatables",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
              },
          table: "#table_master",
          fields: [ {
                  label: "Number:",
                  name:  "number"
              }, {
                  label: "Paid:",
                  name:  "is_paid",
                  type: "checkbox",
                  separator: "",
                  options:   [
                      { label: '', value: 1 }
                  ],
                  unselectedValue: "false",
                  def: 0,
              }, {
                  label: "Issued date:",
                  name:  "issued_date",
                  type: "datetime",
                  def: function () { return new Date(); },
                  displayFormat: "D/M/YYYY",
                  wireFormat: 'YYYY-MM-DD',
              }, {
                    label: "Currency:",
                    name: "currency.id",
                    type: "select"
              }, {
                    label: "Company:",
                    name: "company.id",
                    type: "select"
              }, {
                  label: "Total gross:",
                  name:  "total_gross",
                  def: "0.00",
              }, {
                  label: "VAT percent:",
                  name:  "vat_percent",
                  def: 0,
              }, {
                  label: "Incoming:",
                  name:  "is_incoming",
                  type: "checkbox",
                  separator: "",
                  options:   [
                      { label: '', value: 1 }
                  ],
                  unselectedValue: "false",
                  def: '{{default_is_incoming}}',
              }, {
                    label: "Deal:",
                    name: "deal.id",
                    type: "select",
                    def: function () 
                      {
                          var selected = grandMasterTable.row( { selected: true } );
                          if ( selected.any() ) 
                          {
                            if (selected.data())
                            {
                              deal_id = selected.data().id;
                              return deal_id;
                            }
                          }
                        return '';
                      } 
              }, 
          ]
      } );

    $("#table_master").append(
       "<tfoot><tr><td></td><td></td>><td></td>><td></td><td></td><td></td></tr></tfoot>"
    );
    var masterTable = $('#table_master').DataTable(
    {
        "serverSide": false,
        "ajax": {
              url: "{{masterTableURL}}" + "?format=datatables",
              type: 'get',
              data: function ( d ) {
                  var selected = grandMasterTable.row( { selected: true } );
                  // console.log("In ajax func");
                  if ( selected.any() ) {
                      // console.log("Some selected");
                      if (selected.data())
                      {
                        // console.log(d);
                        d.deal_selected = selected.data().id;
                      }
                      else
                      {
                        d.deal_selected = 0;
                      }
                  }
                  else {
                      d.deal_selected = '';
                  }
              }
          },
        "columns": [
            {"data": "DT_RowId", "searchable": false, "orderable": false},
            {"data": "number"},
            {"data": "issued_date"},
            {"data": "currency.name", "name": "currency.name"},
            {"data": "company.name", "name": "company.name"},
            {"data": "total_gross"},
            {"data": "deal.name", "name": "deal.name", "defaultContent": "<i>Not set</i>"},
            {"data": "is_paid", "name": "is_paid"},
            {"data": "is_incoming_name", "name": "is_incoming_name"},
            {"data": "is_incoming", "searchable": false, "orderable": false, "visible": false},
            {"data": "vat_percent", "searchable": false, "orderable": false, "visible": false},
            
            ],
        columnDefs: [
            {
            "targets": 0,
            "data": "DT_RowId",          // This does the trick... Adding data ...
            // "visible": false,      // And making this columns invisible ...
            "orderable" : false,
            "searchable": false,
            render: function ( data, type, row, meta ) {
                var url_mask = "{% url 'invoices:invoice_update' invoice_id=12345 %}".replace(/12345/, row.DT_RowId.toString());
                return '<a href="'+ url_mask + '?returnUrl={{returnUrl}}">'+'Info'+'</a>';
              }
            },
            // {targets:2, render:function(data){
            //   return moment(data).format('DD/MM/YY');
            // }},
            {targets:7, render: function(data, type, row) {
              if (type === 'myExport') {
                return data === true ? "Y" : "N";
              }
              // if (data === true) {
              //   return '<input type="checkbox" class="editor-active" onclick="return false;" checked>';
              // } else {
              //   return '<input type="checkbox" onclick="return false;" class="editor-active">';
              // }
              return data === true ? "X" : "_";
            }},
            // {targets:8, render: function(data, type, row) {
            //   if (type === 'myExport') {
            //     return data === true ? "Y" : "N";
            //   }
            //   if (data === true) {
            //     return '<input type="checkbox" class="editor-active" onclick="return false;" checked>';
            //   } else {
            //     return '<input type="checkbox" onclick="return false;" class="editor-active">';
            //   }
            //   return data;
            // }},
            ],
        select: {
            style: 'single'
          },
        // "dom": "<'row'<'col-md-6'l><'col-md-6'Bf>>" +
        // "<'row'<'col-md-6'><'col-md-6'>>" +
        // "<'row'<'col-md-12't>><'row'<'col-md-12'ip>>",
        buttons: [
                    {extend: "create", editor: editorMaster, text: '<i class="fas fa-plus-square"></i>'},
                    {extend: "edit", editor: editorMaster, text: '<i class="fas fa-edit"></i>'},
                    {extend: "remove", editor: editorMaster, text: '<i class="fas fa-trash-alt"></i>'},
                    {extend: 'excelHtml5', title: 'Data export', text: 'xls'},
                    {extend: 'pdfHtml5',title: 'Data export', text: 'pdf'},
                ],
        drawCallback: function () {
            var api = this.api();
            // console.log(api.column( 5, {page:'current'} ).data().sum());
            $( api.column(5).footer() ).html("∑: <b>"+
              api.column( 5, {page:'current'} ).data().sum().toFixed(2) + 
              "</b>"
            );
        },
        "order": [[ 2, "desc" ]],
        "initComplete": function(settings, json) {
            masterTable.buttons().container().appendTo("#table_master_wrapper .col-md-6:eq(0)");
        }
    }
    );

    // editorMaster.on('preOpen', function () {
    //     var selected = grandMasterTable.row( { selected: true } );
    //               if ( selected.any() ) {
    //                   console.log("Some selected");
    //                   if (selected.data())
    //                   {
    //                     deal_id = selected.data().id;
    //                     console.log(deal_id);
    //                     editor.val( 'deal.id', 6 );
    //                   }
    //               }
    //   });
    
    $("#table_child").append(
       "<tfoot><tr><td></td><td></td>><td></td>><td></td><td></td><td></td></tr></tfoot>"
    );
    var childTable = $('#table_child').DataTable(
    {
      "serverSide": true,
        // "ajax": "/api/bank_accounts/?format=datatables",
        // "ajax": "{% url 'api:bank_records-list' %}" + "?format=datatables" ,
        "ajax": {
              url: "{{childTableURL}}" + "?format=datatables",
              type: 'get',
              data: function ( d ) {
                  var selectedGrandMaster = grandMasterTable.row( { selected: true } );
                  var selectedMaster = masterTable.row( { selected: true } );
                  // alert("In ajax func");
                  if ( selectedGrandMaster.any() ) {
                      // alert("Some selected");
                      if (selectedMaster.data())
                      {
                        // console.log(selectedMaster.data());
                        d.invoice_selected = selectedMaster.data().id;
                      }
                      else if (selectedGrandMaster.data())
                      {
                        d.deal_selected = selectedGrandMaster.data().id;
                      }
                      else
                      {
                        d.deal_selected = 0;
                      }
                  }
                  else {
                      d.deal_selected = '{{childTableEmptyFilter}}';
                  }
              }
          },
        "columns": [
            {"data": "id", "searchable": false, "orderable": false},
            {"data": "recorded_date"},
            {"data": "name"},
            {"data": "description"},
            {"data": "amount"},
            // {"data": "used_amount"},
            // {"data": "deal_related"},
            {"data": "deals", "name": "deals.name", "sortable": false},
            {"data": "bank_account.name", "name": "bank_account.name"},
            ],
        columnDefs: [
            {
            "targets": 0,
            "data": "id",          // This does the trick... Adding data ...
            "orderable" : false,
            "searchable": false,
            render: function ( data, type, row, meta ) {
                var url_mask = "{% url 'invoices:bank_record_update' bank_record_id=12345 %}".replace(/12345/, row.id.toString());
                return '<a href="'+ url_mask + '?returnUrl={{returnUrl}}">'+'Info'+'</a>';
              }
            },
            {targets:1, render:function(data){
              return moment(data).format('DD/MM/YY');
            }},
            {targets:2, render: function ( data, type, row ) {
                return type === 'display' && data.length > 20 ?
                    data.substr( 0, 20 ) +'…' :
                    data;
            }},
            {targets:3, render: function ( data, type, row ) {
                return type === 'display' && data.length > 40 ?
                    data.substr( 0, 40 ) +'…' :
                    data;
            }},
            // {targets:5, render: function(data, type, row) {
            //   if (type === 'myExport') {
            //     return data === true ? "Y" : "N";
            //   }
            //   if (data === true) {
            //     return '<input type="checkbox" class="editor-active" onclick="return false;" checked>';
            //   } else {
            //     return '<input type="checkbox" onclick="return false;" class="editor-active">';
            //   }
            //   return data;
            // }},
            ],
        "order": [[ 1, "desc" ]],
        drawCallback: function () {
            var api = this.api();
            // console.log(api.column( 5, {page:'current'} ).data().sum());
            $( api.column(4).footer() ).html("∑: <b>"+
              api.column( 4, {page:'current'} ).data().sum().toFixed(2) + 
              "</b>"
            );
        },
    }
    );

    grandMasterTable.on( 'select', function () {
      masterTable.ajax.reload();
      masterTable.rows().deselect();
      childTable.ajax.reload();
    } );
    grandMasterTable.on( 'deselect', function () {
        masterTable.ajax.reload();
        childTable.ajax.reload();
    } );
    
    masterTable.on( 'select', function () {
      childTable.ajax.reload();
    } );
    masterTable.on( 'deselect', function () {
        childTable.ajax.reload();
    } );

    

} );
</script>
{% endblock extrajs %}

{% block content %}
 <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {{grand_master_header}}
    <table id="grand_table_master" class="display table dataTable table-striped table-sm table-hover" role="grid">
        <thead>
         <tr>
            <th>Name</th>
             <th>Started </th>
             <th>Department</th>
          </tr>
        </thead>
      </table>
    </div> {# end of col #}
  </div> {# end of row #}

  <div class="row">
    <div class="col-md-12">
      {{master_header}}
    <table id="table_master" class="table table-striped table-sm table-hover">
        <thead>
         <tr>
            <th>...</th>
             <th>Number</th>
             <th>Issued </th>
             <th>Currency</th>
             <th>Company</th>
             <th>Amount</th>
             <th>Deal</th>
             <th>Paid</th>
             <th>Direction</th>
             <th>Incoming </th>
             <th>VAT percent </th>
          </tr>
        </thead>
      </table>
    </div> {# end of col #}
  </div> {# end of row #}
  <div class="row">
    <div class="col-md-12">
       {{child_header}}
    <table id="table_child" class="display table table-striped table-hover table-sm">
        <thead>
         <tr>
            <th>...</th>
             <th>Date</th>
             <th>Name</th>
             <th>Details </th>
             <th>Amount</th>
             <th>Deals</th>
             <th>Account name</th>
          </tr>
        </thead>
      </table>
    </div> {# end of col #}
  </div> {# end of row #}

</div> {# end of container #}

  {% endblock content %}


 