{% extends "invoices/local_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specificcss %}
<style type="text/css">
    .table-condensed, .table-sm, .dataTables_length, .dataTables_filter, .dataTables_paginate, .dataTables_info {
      font-size: 12px;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(100, 200, 255);
}
</style>
{% endblock specificcss %}

{% block extrajs %}
<script type="text/javascript">

  // var csrftoken = Cookies.get('csrftoken');
  $(document).ready( function () {

   var editorMaster = new $.fn.dataTable.Editor( {
          ajax: {url: "{{masterTableURL}}" + "editor/?format=datatables",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
              },
          table: "#table_master",
          fields: [ {
                  label: "Number:",
                  name:  "number"
              }, {
                  label: "Issued date:",
                  name:  "issued_date",
                  type: "datetime",
                  def: function () { return new Date(); },
                  displayFormat: "D/M/YYYY",
                  wireFormat: 'YYYY-MM-DD',
              }, {
                    label: "Currency:",
                    name: "currency.id",
                    type: "select"
              }, {
                    label: "Company:",
                    name: "company.id",
                    type: "select"
              }, {
                  label: "Total gross:",
                  name:  "total_gross",
                  def: "0.00",
              }, {
                  label: "VAT percent:",
                  name:  "vat_percent",
                  def: 0,
              }, {
                  label: "Incoming:",
                  name:  "is_incoming",
                  type: "checkbox",
                  separator: "",
                  options:   [
                      { label: '', value: 1 }
                  ],
                  unselectedValue: "false",
                  def: '{{default_is_incoming}}',
              }, {
                    label: "Deal:",
                    name: "deal.id",
                    type: "select",
              }, {
                  label: "Paid:",
                  name:  "is_paid",
                  type: "checkbox",
                  separator: "",
                  options:   [
                      { label: '', value: 1 }
                  ],
                  unselectedValue: "false",
                  def: 0,
              },
          ]
      } );
    
    $("#table_master").append(
       "<tfoot><tr><td></td><td></td><td></td>><td></td><td></td><td></td></tr></tfoot>"
    );
    var masterTable = $('#table_master').DataTable(
    {
        "serverSide": true,
        "ajax": "{{masterTableURL}}" + "?format=datatables",

        "columns": [
            {"data": "id", "searchable": false, "orderable": false},
            {"data": "number"},
            {"data": "issued_date", "name": "issued_date"},
            {"data": "currency.name", "name": "currency.name"},
            {"data": "company.name", "name": "company.name"},
            {"data": "total_gross"},
            {"data": "deal.name", "name": "deal.name", "defaultContent": "<i>Not set</i>"},
            {"data": "is_paid", "name": "is_paid"},
            {"data": "total_not_paid", "name": "total_not_paid"},
            {"data": "is_advance_name", "name": "is_advance_name", "searchable": false, "orderable": false},
            {"data": "is_incoming_name", "searchable": false, "orderable": false},
            {"data": "vat_percent", "searchable": false, "orderable": false, "visible": false},
            {"data": "is_incoming", "searchable": false, "orderable": false, "visible": false},
            {"data": "file", "searchable": false, "orderable": false, "visible": false},
            {"data": "file_size", "searchable": false, "orderable": false, "visible": false},
            ],
        rowId: 'id',
        columnDefs: [
            {
            "targets": 0,
            "data": "DT_RowId",          // This does the trick... Adding data ...
            // "visible": false,      // And making this columns invisible ...
            "orderable" : false,
            "searchable": false,
            render: function ( data, type, row, meta ) {
                var url_mask = "{% url 'invoices:invoice_update' invoice_id=12345 %}".replace(/12345/, row.DT_RowId.toString());
                return '<a href="'+ url_mask + '?returnUrl={{returnUrl}}">'+'Info'+'</a>';
              }
            },
            // {targets:2, render:function(data){
            //   return moment(data).format('DD/MM/YY');
            // }},
            {targets:'checking', render: function(data, type, row) {
              if (type === 'myExport') {
                return data === true ? "Y" : "N";
              }
              if (data === true) {
                return '<input type="checkbox" class="editor-active" onclick="return false;" checked>';
              } else {
                return '<input type="checkbox" onclick="return false;" class="editor-active">';
              }
              return data;
            }},
            {
            "targets": 10,
            // "data": "id",          // This does the trick... Adding data ...
            // "visible": false,      // And making this columns invisible ...
            "orderable" : false,
            "searchable": false,
            render: function ( data, type, row, meta ) {
                var url_mask = "{% url 'invoices:print_detail' invoice_id=12345 %}".replace(/12345/, row.id.toString());
                if (row.total_gross > 0)
                {
                  return '<a href="'+ url_mask + '?returnUrl={{returnUrl}}">'+'<i class="fas fa-fw fa-file-pdf"> </i>'+'</a>';
                }
                else
                {
                  if (row.file_size > 0)
                  {
                    return '<a href="'+ row.file + '" target="_blank">'+row.is_incoming_name+'</a>';
                  }
                  else
                    {return row.is_incoming_name;}
                }


              }},
            ],
        select: {
            style: 'os'
          },
        // dom: 'lfBrtip',
        buttons: [
                    {extend: "create", editor: editorMaster, text: '<i class="fas fa-plus-square"></i>', className: 'btn-sm'},
                    {extend: "edit", editor: editorMaster, text: '<i class="fas fa-edit"></i>', className: 'btn-sm'},
                    {extend: "remove", editor: editorMaster, text: '<i class="fas fa-trash-alt"></i>', className: 'btn-sm'},
                    {extend: 'excelHtml5', title: 'Data export', text: 'xls', className: 'btn-sm'},
                    {extend: 'pdfHtml5',title: 'Data export', text: 'pdf', className: 'btn-sm'},
                ],
        "order": [[ 2, "desc" ], [ 1, "desc" ], [ 0, "desc" ]],
        drawCallback: function () {
            var api = this.api();
            // console.log(api.column( 5, {page:'current'} ).data().sum());
            $( api.column(5).footer() ).html("∑: <b>"+
              api.column( 5, {page:'current'} ).data().sum().toFixed(2) + 
              "</b>"
            );

            // var rows = api.rows( { selected: true } ).indexes();
            // var data = api.cells( rows, 5, { page: 'current' } );
            // // var sm = masterTable.column(5, {selected: true}).data().sum()
            // console.log(rows);
            // console.log(data);
            // // console.log(sm);
        },
        "initComplete": function(settings, json) {
            masterTable.buttons().container().prependTo("#table_master_length");
        }
    }
    );

    $("#table_child").append(
       "<tfoot><tr><td></td><td></td>><td></td>><td></td><td></td><td></td></tr></tfoot>"
    );
    var childTable = $('#table_child').DataTable(
    {
      "serverSide": true,
        // "ajax": "/api/bank_accounts/?format=datatables",
        // "ajax": "{% url 'api:bank_records-list' %}" + "?format=datatables" ,
        "ajax": {
              url: "{{childTableURL}}" + "?format=datatables",
              type: 'get',
              data: function ( d ) {
                  var selected = masterTable.row( { selected: true } );
                  // alert("In ajax func");
                  if ( selected.any() ) {
                      // alert("Some selected");
                      if (selected.data() && selected.data().{{masterTableFilterParentParameter}})
                      {
                        // console.log(selected.data());
                        d.{{childTableFilterParameter}} = selected.data().{{masterTableFilterParameter}};
                        {% if useParameter2 %}
                          d.{{childTableFilterParameter2}} = selected.data().{{masterTableFilterParameter2}};
                        {% endif %}
                      }
                      else
                      {
                        d.{{childTableFilterParameter}} = '{{childTableEmptyFilter|safe}}';
                      }
                  }
                  else {
                      d.{{childTableFilterParameter}} = "{{childTableEmptyFilter|safe}}" ;
                  }
              }
          },
        "columns": [
            {"data": "id", "searchable": false, "orderable": false},
            {"data": "recorded_date"},
            {"data": "name"},
            {"data": "description"},
            {"data": "amount"},
            // {"data": "used_amount"},
            // {"data": "deal_related"},
            {"data": "deals", "name": "deals.name", "sortable": false},
            {"data": "bank_account.name", "name": "bank_account.name"},
            ],
        columnDefs: [
            {
            "targets": 0,
            "data": "id",          // This does the trick... Adding data ...
            "orderable" : false,
            "searchable": false,
            render: function ( data, type, row, meta ) {
                var url_mask = "{% url 'invoices:bank_record_update' bank_record_id=12345 %}".replace(/12345/, row.id.toString());
                return '<a href="'+ url_mask + '?returnUrl={{returnUrl}}">'+'Info'+'</a>';
              }
            },
            {targets:1, render:function(data){
              return moment(data).format('DD/MM/YY');
            }},
            {targets:2, render: function ( data, type, row ) {
                return type === 'display' && data.length > 20 ?
                    data.substr( 0, 20 ) +'…' :
                    data;
            }},
            {targets:3, render: function ( data, type, row ) {
                return type === 'display' && data.length > 40 ?
                    data.substr( 0, 40 ) +'…' :
                    data;
            }},
            // {targets:5, render: function(data, type, row) {
            //   if (type === 'myExport') {
            //     return data === true ? "Y" : "N";
            //   }
            //   if (data === true) {
            //     return '<input type="checkbox" class="editor-active" onclick="return false;" checked>';
            //   } else {
            //     return '<input type="checkbox" onclick="return false;" class="editor-active">';
            //   }
            //   return data;
            // }},
            ],
        "order": [[ 1, "desc" ]],
        drawCallback: function () {
            var api = this.api();
            // console.log(api.column( 5, {page:'current'} ).data().sum());
            $( api.column(4).footer() ).html("∑: <b>"+
              api.column( 4, {page:'current'} ).data().sum().toFixed(2) + 
              "</b>"
            );
        },
    }
    );

    function showSelectedInFooter(masterTable)
    {
      var api = masterTable;
      var resultText = '';
      var companyName = '';
      var invoiceNumbers = '';
      var selected = masterTable.rows( { selected: true } );
      var selectedFirstRow = masterTable.row( { selected: true } );
      if ( selected.any() ) {
          var rows = masterTable.rows( { selected: true } ).indexes();
          var data = masterTable.cells( rows, 5, { page: 'current' } );
          companyName = selectedFirstRow.data().company.name + ' ' + selectedFirstRow.data().currency.name;
          resultText = data.data().sum().toFixed(2);
          masterTable.rows( { selected: true } ).every( function ( rowIdx, tableLoop, rowLoop ) {
              invoiceNumbers += this.data().number + ' ';
              // ... do something with data(), or this.node(), etc
          } );
          // for (i = 0; i < rows.count(); i++)
          // {
          //   console.log(i);
          //   line = masterTable.cells( rows, i, { page: 'current' } ).data().number;
          //   console.log(line);
          // }
          
      }
      else {
          resultText = '';
          companyName = '';
          invoiceNumbers = '';
      }
      $( api.column(1).footer() ).html(
        companyName
      );
      $( api.column(2).footer() ).html(
        invoiceNumbers
      );
      $( api.column(3).footer() ).html(
        resultText 
      );
    }
    masterTable.on( 'select', function () {
      childTable.ajax.reload();
      showSelectedInFooter(masterTable);
    } );
    masterTable.on( 'deselect', function () {
        childTable.ajax.reload();
        showSelectedInFooter(masterTable);
    } );

    

} );
</script>
{% endblock extrajs %}

{% block content %}
 <div class="container-fluid">
  <div class="row shadow-sm">
    <div class="col-md-12">
      {{master_header}}
    <table id="table_master" class="display table dataTable table-striped table-sm table-hover" role="grid">
        <thead>
         <tr>
             <th>...</th>
             <th>Number</th>
             <th>Issued </th>
             <th>Currency</th>
             <th>Company</th>
             <th>Amount</th>
             <th>Deal</th>
             <th class="checking">Paid</th>
             <th>Balance</th>
             <th>Adv/Fin</th>
             <th class="printing"> </th>
             <th>VAT percent </th>
             <th>Is incoming </th>
             <th>File </th>
             <th>File size</th>
          </tr>
        </thead>
      </table>
    </div> {# end of col #}
  </div> {# end of row #}
<hr>
 <div class="row shadow-sm">
    <div class="col-md-12">
       {{child_header}}
    <table id="table_child" class="display table table-striped table-hover table-sm">
        <thead>
         <tr>
            <th>...</th>
             <th>Date</th>
             <th>Name</th>
             <th>Details </th>
             <th>Amount</th>
             <th>Deals</th>
             <th>Account name</th>
          </tr>
        </thead>
      </table>
    </div> {# end of col #}
  </div> {# end of row #}

</div> {# end of container #}

  {% endblock content %}


 