{% extends "invoices/local_base.html" %}
{% load static %}

{% block extracss %}
<style type="text/css">
  
  body {font-family:Arial,sans-serif;}


  .logofont {
    font-family:'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI', Roboto,'Helvetica Neue',Arial,sans-serif,
  'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-size: 20px;}

  .smallright{
    font-size: 14px;
    text-align: right;
  }
</style>


{% endblock %}

{% block content %}

<div class="container" style="margin-left: 50px; padding-right: 50px;">

<div class="row mt-4">
  <div class="col-md-12">
    <br>
  </div>
</div>
<table class="table table-sm">
        <!--for inline added titles-->
  <tbody> 

      <tr>
        <td class="logofont" >Seahorse Management 
        </td>
        <td class="text-center">
          Invoice <br>
          Rēķins
        </td>
        <td class="text-right">
          <br>
          # {{invoice.number}}
        </td>
      </tr>

  <tr>
        <td>Rīga, {{invoice.issued_date}} </span>
        </td>
        
        <td class="smallright" colspan=2>
         SIA ‘Seahorse Management’
         <br>
Edžiņa gatve 3-6, Rīga, LV-1015
<br>
Reģ Nr: 40203217446
<br>
VAT #: LV40203217446
<br>
Ph: +371-26355555, email: office@sea-hm.com
<br>
EUR IBAN account: LV33PARX0022617360001
<br>
CITADELE BANKA, PARXLV22
        </td>
  </tr>

<tr>
  <td>
    To:
    <br>
    Maksatajs:
  </td>
  <td colspan="2">
    {{invoice.company.receiver_address|linebreaks}}
  </td>
</tr>

<tr>
  <td>
    Ref:
  </td>
  <td colspan="2">
    {{invoice.description|linebreaks}}
  </td>
</tr>
</tbody>
</table>


        {% if invoice.items %}
<table class="table table-sm table-bordered">
        <!--for inline added titles-->
  <tbody> 

    <tr>
      <td>
        #
      </td>
      <td>
        Description / Detaļas
      </td>
      <td>
        Price/ Cena
      </td>
      <td>
        Qtty/ Daudz
      </td>
      <td>
        Total / Kopā
      </td>
      
    </tr>

        {% for item in invoice.items.all %}

          <tr>
            <td class="text-right">
              {{forloop.counter}}
            </td>
            <td>
              {{item.description}}
            </td>
            <td class="text-right">
              {{item.price}}
            </td>
            <td class="text-right">
              {{item.quantity.normalize}}
            </td>
            <td class="text-right">
              {{item.total}}
            </td>
            
          </tr>
        
        {% endfor %}
        

      </tbody>
</table>

      {% endif %}


<table class="table table-sm">
        <!--for inline added titles-->
  <tbody> 

      <tr>
        <td colspan="2" class="text-left">
          SUMMA NETO / TOTAL NET:
        </td>
        <td colspan="2" class="text-right">
          EUR
        </td>
        <td class="text-right">
          {{invoice.total_net}}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-left">
          VAT / PVN:
        </td>
        <td>
          {{invoice.vat_percent.normalize}} %
        </td>
        <td class="text-right">
          EUR
        </td>
        <td class="text-right">
          {{invoice.total_vat}}
        </td>
      </tr>
      
      <tr>
        <th colspan="2" class="text-left">
          SUMMA KOPĀ APMAKSAI / TOTAL TO PAY
        </th>
        <th colspan="2" class="text-right">
          EUR
        </th>
        <th class="text-right">
          {{invoice.total_gross}}
        </th>
      </tr>

      <tr>
        <td colspan="2" class="small text-left">
          Apmaksas termiņš / Term of payment:
        </td>
        <td colspan="3" class="small text-right">
          {{invoice.payment_term}}
        </td>
      </tr>

{% if invoice.advance_required %}
      <tr>
        <td colspan="2" class="text-left">
          Priekšapmaksa / Prepayment:
        </td>
        <td>
          {{invoice.advance_percent.normalize}} %
        </td>
        <td class="text-right">
          EUR
        </td>
        <td class="text-right">
          {{invoice.advance_amount}}
        </td>
      </tr>
{% endif %}

    </tbody>
  </table>

  <div class="row">
    <div class="col-md-12 small">
      After payment term expiration delay penalty fee of 0.1% of amount invoice per day delayed is applied
    </div>
  </div>

  <div class="row mb-4 pb-4">
    <div class="col-md-12 small">
      {% if invoice.vat_percent < 1 %}
      PVN 0%* - atbilstoši LR līkuma "Pievienotās vērtiības nodoklis" 46, 47. panta noteikumiem
      {% endif %}
      {% if not use_stamp %}
        <br>
        Šis rēķins ir sagatavots elektroniski un derīgs bez paraksta
        <br>
        This invoice is issue electronically and is valid without signature.
      {% endif %}
    </div>
  </div>

<div class="row mt-5">
    <div class="col-md-12 text-center">
     {% if use_stamp %}
      
       SIA 'SEAHORSE MANAGEMENT'  
      <br> 
      Valērijs Fjodorovs    
      
      <img width="290px" src="{% static 'img/stamp_with_signature.jpg' %}">

      {% else %}
<span class="small">
      
    </span>
    {% endif %}
    </div>
  </div>




 
</div>

  {% endblock content %}


